/RTE
/Listings
/Objects
ra_cfg.txt

**[Dd]ebug
**[Bu]ild
**__pycache__
/makefile.targets
**/kconfig-mconf

**.o
**.dblite
**.dbsqlite
**.pyc

.config.old

/rtthread.hex
/rtthread.elf
/rtthread.bin
/rtthread.map
